:root {
    --gradish: linear-gradient(27deg,
            #bdb2ff,
            #cfbaf0,
            #f1c0e8,
            #ffcfd2,
            #fde4cf,
            #fbf8cc,
            #b9fbc0,
            #98f5e1,
            #8eecf5,
            #90dbf4,
            #a3c4f3,
            #a0c4ff);
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: var(--gradish);
    background-size: 1200%;
    animation: bg-animation 60s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.btn-outline-moody {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 1.2rem;
    --bs-btn-border-width: medium;
    --bs-btn-color: #5A189A;
    --bs-btn-border-color: #5A189A;
    --bs-btn-hover-color: #80FFDB;
    --bs-btn-hover-bg: #5A189A;
    --bs-btn-hover-border-color: #5A189A;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #D972FF;
    --bs-btn-active-bg: #FFB2E6;
    --bs-btn-active-border-color: #FFB2E6;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.btn-outline-moodi {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 1.2rem;
    --bs-btn-border-width: medium;
    --bs-btn-color: #9D2113;
    --bs-btn-border-color: #9D2113;
    --bs-btn-hover-color: #ccff33;
    --bs-btn-hover-bg: #9D2113;
    --bs-btn-hover-border-color: #9D2113;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #ef233c;
    --bs-btn-active-bg: #ff9770;
    --bs-btn-active-border-color: #ff9770;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.btn-outline-moodee {
    --bs-btn-font-weight: 700;
    --bs-btn-border-radius: 1.2rem;
    --bs-btn-border-width: medium;
    --bs-btn-color: #107460;
    --bs-btn-border-color: #107460;
    --bs-btn-hover-color: #ff9e00;
    --bs-btn-hover-bg: #107460;
    --bs-btn-hover-border-color: #107460;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #008000;
    --bs-btn-active-bg: #57cc99;
    --bs-btn-active-border-color: #57cc99;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

a:link {
    text-decoration: none;
    color: #0077b6;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #023e8a;
}

a:active {
    text-decoration: none;
    color: #0d6efd;
}